html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  margin: 0 0 .7rem;
  padding: .5em 0 0;
  list-style-type: none;
  text-align: center;
  line-height: 1.5;
}

.cards li {
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 1.125rem;
  float: left;
  width: 33.33%;
  background-color: #d05c2e;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}


a:hover {
  background-color: #a63f38;
  text-decoration: none;
}

img {
  width: 40px;
}

header {
  background-color: #d05c2e;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-family: Merriweather, serif;
  color: #fff;
}

.left {
  float: left;
}

.right {
  float: right;
}
